.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.center-text {
    text-align: center;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}